{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}


   <!-- HERO
    ================================================== -->

               
 <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                        ABOUT US 
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Centre for Occupational Health and Safety  (COH&S) is a membership based health and Safety organisation 
                            .The organisation provides Training for organisations, professional courses and cpd Training.Professinal courses are done through 
                            online and distance learning
                        </p>
                    <!-- Heading -->
                    <h4 class="card-title">
                    ACCREDITATIONS
                    </h4>

                    <!-- Subheading -->
                    <p>
                        Centre for Occupational Health and Safety  (COH&S)  has partnered with international organisation to ensure the recognition of
                        its Trainings services .The following is the list of our partners
                    </p>
                    <li>British Safety council</li>
                    <li>South African Institute of Occupational Health (SAIOSH )</li>
                    <li>ICM</li>
                </div>
            </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                    
                                <a href="#">
                                    <h3 class="card-title">Our vision</h3>
                                </a>
                                <p>is safe and healthy people in productive workplaces and communities.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                            
                                <a href="#">
                                    <h3 class="card-title">Our Values</h3>
                                </a>

            
                                    <li>Accountability</li>
                                    <li>Intergrity</li>
                                    <li>Transparency</li>
                                    <li>Responsibility</li>
                                   
                                
                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                                
                                <a href="#">
                                    <h3 class="card-title">Our mission statement</h3>
                                </a>
                                <p>To Partner With  Our to Assist Them To achieve Their Goals And Objectives
                                    Through Training And aplication of Sound Health , Safety and Environment Management Systems
                                </p>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 {% endblock content %}