<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Nav-Bar.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Side-Nav/Side-Nav.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/About.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Buttons/About Button.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Style About.css" type="text/css">
        
		<nav class="navbarsoc">
        <ul>
                <li><address><a href="mailto:info@cohs.co.zw" class="gmail" target="_blank"><p class="gmail"><img src="Assets/Socio/Gmail.png" width="36mm"></p></a></address></li>
                <li><address><a href="https://www.instagram.com/cohs_zim" class="instagram" target="_blank"><p class="instagram"><img src="Assets/Socio/Instagram.png" width="29mm"></p></a></address></li>
                <li><address><a href="https://wa.me/263786059115?" class="whatsapp" target="_blank"><p class="whatsapp"><img src="Assets/Socio/Whatsapp.png" width="29mm"></p></a></address></li>
				<li><address><a href="https://www.facebook.com/letlo" class="facebook" target="_blank"><p class="facebook"><img src="Assets/Socio/Facebook.png" width="35mm"></p></a></address></li>
				<li><address><a href="https://letloadm.wixsite.com/cohsdatabase" class="Login" target="_blank"><p class="Login" style="text-align: right; padding-right: 10px;"><small>Student Login</small></p></a></address></li>
           </ul>
        </nav>
		
        <div class="sidenav">
			<p style="font-size: 25px; color: white; margin-top: -5mm; margin-right: 2mm; font-family: sans-serif; text-align: right;">ABOUT US</p>
  			<a href="MEMBER DOCY.pdf" style="margin-top: 3mm; width: auto;">Membership</a>
			<a href="CONSTITUTION 12.pdf" style="margin-top: 3mm; width: auto;">Governance Documents</a>
			<a href="April News Letter.pdf" style="margin-top: 3mm; width: auto;">Latest News-Letter</a>
		</div>
		
        <nav class="navbar" style="z-index: 2;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg class="btn" width="30" height="30" style="margin-top: 25px; border: 1px solid white; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 3px;">
                    <path d="M0,5 30,5" stroke="White" stroke-width="2"/>
                    <path d="M0,14 30,14" stroke="White" stroke-width="2"/>
                    <path d="M0,23 30,23" stroke="White" stroke-width="2"/>
                </svg>
            </a>
        </span>
        
            
<br />
            <ul>
                <div class="logoo"><li><p><img src="Assets/Images/Nav Bar Logo.png" style="width: 47mm;"></p></li></div>
            </ul>
			
		
            
     <ul class="navbar-nav">
			<li><a href="Contact.html">Contact Us</a></li>
			<li><a href="Centres.html">Centres</a></li>
            <li><a href="Membership.html">Membership</a></li>
            
         <div class="dropdown">
             <button class="dropbtn">Training
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="Professional Courses.html">Professional Courses</a>
                 <a href="CPD Training.html">CPD Training</a>
             </div>
         </div>
         
            <li><a href="Events.html">Events</a></li>
            <li><a href="Resources.html">Resources</a></li>
         <li><a href="Newsletters.html">Newsletters</a></li>
         
         <div class="dropdown">
             <button class="dropbtn">About
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="About.html">About Us</a>
                 <a href="Accreditations.html">Accreditations</a>
                 <a href="Services.html">Services</a>
             </div>
         </div>
         
            <li><a href="index.html">Home</a></li>       
        </ul>
    </nav>
    
    <div id="side-menu" class="side-nav" style="z-index: 3;">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" style="margin-top: 30px; margin-left: 77.5px;">&times;</a>
        <a href="index.html" style="font-weight: bolder;">Home</a>
        
        <a href="#" style="font-weight: bolder;">About &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="About.html" style="margin-left: 15%; font-weight: normal;">About Us</a>
        <a href="Accreditations.html" style="margin-left: 15%; font-weight: normal;">Accreditations</a>
        <a href="Services.html" style="margin-left: 15%; font-weight: normal;">Services</a>
        
        <a href="Newsletters.html" style="font-weight: bolder;">Newsletters</a>
        <a href="Resources.html" style="font-weight: bolder;">Resources</a>
        <a href="Events.html" style="font-weight: bolder;">Events</a>
        
        <a href="#" style="font-weight: bolder;">Training &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="Professional Courses.html" style="margin-left: 15%; font-weight: normal;">Professional Courses</a>
		<a href="CPD Training.html" style="margin-left: 15%; font-weight: normal;">CPD Training</a>
        
		<a href="Centres.html" style="font-weight: bolder;">Centres</a>
		<a href="Membership.html" style="font-weight: bolder;">Membership</a>
        <a href="Contact.html" style="font-weight: bolder;">Contact Us</a>
		</div>
	
	
	
	<!-- Start Of The Nav-Bar Script -->
    	<script>
		function openSlideMenu(){
            document.getElementById('side-menu').style.width= '250px';
            document.getElementById('main').style.marginLeft= '250px';
        }   
        function closeSlideMenu(){
            document.getElementById('side-menu').style.width= '0';
            document.getElementById('main').style.marginLeft= '0';
        }
		</script>
    </head>
	
	<div class="main">
    <body>

		<div style="margin-top: 0; font-size: 1.2em; line-height: 20px;"><p><span style="font-size: 1.3em; font-weight: bold;">Our Vision</span>  is safe and healthy people in productive workplaces and communities.</p>
			<p>Everything we do is about shaping workplace health and safety now and in the generations to come, because we believe that every person deserves to be safe and healthy at work.</p>
		</div>
		
		<div style="margin-top: 9mm; font-size: 1.2em; line-height: 7mm;">
			<p>We focus our resources on:</p>
			<h3 style="margin-top: -7mm;">Supporting the development of world class health and safety practice:</h3></div>
		
		<div style="margin-top: 0cm; font-size: 1.2em;">
			<ul>
				<li>Developing and refining the body of knowledge for health and safety;</li>
				<li>Improving health and safety education and training; </li>
				<li>Building strong professional development frameworks; </li>
				<li>Keeping the profession well informed; and</li>
				<li>Supporting stronger networking and engagement. </li>
			</ul>
		
		
		<h3>Providing a collective voice for the profession:</h3>
		<ul>
			<li>Advocating with courage on policy which improves legislation, regulation and standards.</li>
 		</ul>

		<h3>Adding further value to the industry:</h3>
		<ul>
			<li>Clarifying health and safety role definitions and skillsets;</li>
			<li>Promoting the profession and its work at all levels, from Boards and managers through to workers and the supply chain; and</li>
			<li>Directly providing knowledge and information on health and safety.</li>
		</ul>
		
		<h3>Working to improve health and safety for future generations:</h3>
		<ul>
			<li>Educating the wider community.</li>
		</ul>
			
			<h3>Values</h3>
			The values that underpin our work:<br />
			<span style="font-weight: bold;">Integrity:</span>  We are ethical, and act with honesty and accountability<br />
			<span style="font-weight: bold;">Legacy:</span> We honour the contributions that have built what is here today<br />
			<span style="font-weight: bold;">Diversity:</span> We respect each other's diverse perspectives<br />
			<span style="font-weight: bold;">Leadership:</span> We drive positive change within industries, organisations and our community<br />
			<span style="font-weight: bold;">Humanity:</span> We are passionate about health and safety because we care about people and community<br />
			<span style="font-weight: bold;">Innovation:</span> We think forward and encourage new ways of improving health and safety.<br />
			<br />
			<button class="Download" type="button"><a href="Contact.html" style="text-decoration: none; justify-content: center;">MORE INFORMATION>></a></button>
		</div>
</body>
<br />
        <style>
            .responsive{
                display: none;
            }
            @media(max-width:809px){
                .responsive{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    text-align: center;
                }
            }
            @media(max-width:459px){
                .responsive{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row-gap: 7px;
                    text-align: center;
                }
            }
           
                        
        </style>
        
        
            <div class="responsive">
                <a href="About%2520Docs/CONSTITUTION%2012.pdf" style="text-decoration: underline; justify-content: center; font-size: 18px; color: white;">MEMBERSHIP</a>
                
                <a href="About%2520Docs/CONSTITUTION%2012.pdf" style="text-decoration: underline; justify-content: center; text-transform: uppercase; font-size: 18px; color: white;">Governance Documents</a>
                
                <a href="July.pdf" style="text-decoration: underline; justify-content: center; text-transform: uppercase; font-size: 18px; color: white;">Latest Newsletter</a>
            </div>
        <br />
        


		<body1 style="position: static; width: 100%; clear: both; background-color: white; left: 0;">
        <div style="background-color: white; width: 100%; position: relative; padding-top: 1px; padding-bottom: 1px;">
        <p style="margin-left: 3mm; font-weight: bold; text-align: center; padding-left: 5px; padding-right: 5px; color: black;">CLICK ON ANY PARTNERS LOGO TO VIEW THEIR WEBSITE</p><br /></div>
		
        <div class="Partners">    
            <div class="Col-1"><a href="https://www.britsafe.org"><img src="Assets/Images/Brit-Saf%20Logo.png" class="Col-1"></a></div>
            
            <div class="Col-2"><a href="https://www.saiosh.co.za"><img src="Assets/Images/Saiosh.png"  class="Col-2"></a></div> 
		</div>
		
        <div class="Partner">      
            <div class="Col-3"><a href="https://www.inkamic.co.zw"><img src="Assets/Images/INKAMIC%20ORIGINAL.png"  class="Col-3"></a></div>
                 
            <div class="Col-4"><a href="https://www.isqem.com"><img src="Assets/Images/Affiliation%20Logo.png"  class="Col-4"></a></div>        
		</div>
    </body1>
    <br /><br />

    <footer>
        <div style="margin-left: 5px; margin-right: 5px;">
        <div class="Column1">
            <p><span style="font-weight: bold;">Bulawayo</span><br />No. 413 &nbsp;4<sup>th</sup> Floor <br />AFRICA HOUSE<br />Fife Street & 10<sup>th</sup>Avenue</p>
        </div>
        
        
        <div class="Column4">
            <p><span style="font-weight: bold;">Zvishabane:</span><br />1294 Highlands<br />+263 783 265 268</p>
        </div>
            
        <div class="Column3">
            <p><span style="font-weight: bold;">Ruwa:</span><br />120 Corner 4th & Kwameh<br />Zimre Park<br />+263 719 883 069</p>
        </div>       
		</div>
    
		<div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both; margin-bottom: 0; position: sticky;">This Website Was Designed By Creative Labs <i>© 2021 Creative Labs </i></p></div>
    </footer>
</html>
		</div>