<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Contact.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Buttons/Contact Button.css" type="text/css">
    </head>
    
    <body1><a href="index.html"><button class="Download">Back</button></a></body1>
    
    <body>
        
        <!--alert messages start-->
        <?php echo $alert; ?>
        <!--alert messages end-->
        
        <div class="container">
            <h1 class="Brand">COH&S</h1>
            <div class="wrapper">
                <div class="company-info">
                    <h3>Centre For Occupation Health & Safety</h3>
                    <ul>
                        <li>No. 413  4<sup>th</sup> Floor, AFRICA HOUSE<br />
                            Fife Street & 10<sup>th</sup>Avenue<br />Bulawayo Zimbabwe</li><br />
                        <li>+263 782 096 764</li>
                        <li>info@cohs.co.zw</li>
                    </ul>
                </div>
                <div class="contact">
                    <h3>Centre Registration</h3>
                    <form action="https://formspree.io/f/mayajlyn" method="post">
                        <p>
                            <label>Name of Insitute</label>
                            <input type="text" name="name">
                        </p>
                        
                        <p>
                            <label>Physical Address</label>
                            <input type="text" name="adress">
                        </p>
                        
                        <p>
                            <label>Email Address</label>
                            <input type="text" name="email">
                        </p>
                        
                        <p>
                            <label>Phone Number</label>
                            <input type="text" name="phone">
                        </p>
                        
                        
                        <p>
                            <label>Name of Representative</label>
                            <input type="text" name="name">
                        </p>
                        
                        <p>
                            <label>Surname</label>
                            <input type="text" name="surname">
                        </p>
                        
                        <p>
                            <label>Email Address</label>
                            <input type="text" name="email">
                        </p>
                        
                        <p>
                            <label>Phone Number</label>
                            <input type="text" name="phone">
                        </p>
                        
                        <p>
                            <label>Position In Institute</label>
                            <input type="text" name="position">
                        </p>
                        
                       <p class="full">
                           <button>Submit</button>
                       </p>  
                    </form>
                </div>
            </div>
        </div>
        
        
        <script type="text/javascript">
            if(window.history.replaceState){
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
        
        <div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both; margin-bottom: 0; position: sticky;">This Website Was Designed By Creative Labs <i>(A Division of Emsikar Inc.) © 2021 Creative Labs </i></p></div>
    </body>