{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}


   <!-- HERO
    ================================================== -->
    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            COH&S CENTRES
                        </h2>

                        <!-- Subheading -->
                        <p>
                            This is a list of our current centres

                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title">Gilgal Languages Institute</h3>
                                </a>
                                <p>5504 Gold Crescent Road  <br>
                                    Zimre Park Ruwa <br>
                                    +263 719 883 069.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title">COH&S Bulawayo</h3>
                                </a>

                                <p>Cnr fife street & G. Silundika <br>
                                    Bulawayo <br>
                                    +263 775 816 530.</p>
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title"> Cosmopolitan Eagle Consultants</h3>
                                </a>

                                <p>8th Floor Pioneer House  <br>
                                    Bulawayo <br>
                                    +263 774 430 209</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title"> Shinning Stars</h3>
                                </a>

                                <p>1294 Highlands  <br>
                                    Zvishavane  <br>
                                    +263 783 265 268</p>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="single-blog">
                            <div class="blog-content">
                                <a href="#">
                                    <h3 class="card-title"> Cosmopolitan Eagle Consultants</h3>
                                </a>

                                <p>8th Floor Pioneer House  <br>
                                    Bulawayo <br>
                                    +263 774 430 209</p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-4 col-md-8">
                    <div class="blog-box">
                      
                        <div class="single-blog">
                            <div class="blog-content">
                                
                                <a href="#">
                                    <h3 class="card-title">FASS Business School</h3>
                                </a>
                                <p>York House, 6th Floor <br>
                                    Office 605 <br>
                                    +263 782 857 670.</p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
   
    
 {% endblock content %}