{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}


   <!-- HERO
    ================================================== -->

               
 <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                        {{  course.name }} 
                        </h2>

                        <!-- Subheading -->
                        <p>
                            {{ course.description }}
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <section class="section" id="section-testimonial">
        <div class="container">
            <h2 class="section-title Heading">
                Course Modules
                </h2>

           <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="row">
                       
                        
                        <div class="col-lg-12">
                            {% for pi in course.module_set.all %}
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <div class="test-author-info">
                                       <h4 class="lead-page"> {{  pi.module_name }} </h4>
                                       
                                   </div>
                               </div>

                               {{ pi.module_description }}
                                 <br>
                            
                            </div>
                            {%  endfor %}
                        </div>
                        
                    </div>
                    
                 
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

 {% endblock content %}