{% extends 'school_front/base.html' %}
{% load static %}

  {% block content %}
    <br /><br /><br /><br /><br /><br />		
    <body style="margin-top: -25px;">
		<div class="boss">
            <div class="block">
                <p>Health & Safety Conference and<br /> Award Ceremony</p>
            </div>
            
            <div class="container">                
                <div class="timer">
                    <p id="day"></p>
                    <h3>Days</h3>
                </div>
        
                <div class="timer">
                    <p id="hour"></p>
                    <h3>Hours</h3>
                </div>
        
                <div class="timer">
                    <p id="minute"></p>
                    <h3>Minutes</h3>
                </div>
                
                <div class="timer">
                    <p id="second"></p>
                    <h3>Seconds</h3>
                </div>
            </div>
        
        <script type="text/javascript" src="Assets/timer.js"></script><br /><br />
            
        <button class="Download" type="button"><a href="Conference.html" style="text-decoration: none; justify-content: center; color: white;">REGISTER FOR CONFERENCE>></a></button></div>
	</body>


    <br /><br /><br /><br />
    
    <body1 style="position: absolute; width: 100%; clear: both; background-color: white; left: 0;">
        <div style="background-color: white; width: 100%; position: relative; padding-top: 1px; padding-bottom: 1px;">
        <p style="margin-left: 3mm; font-weight: bold; text-align: center; padding-left: 5px; padding-right: 5px;">CLICK ON ANY PARTNERS LOGO TO VIEW THEIR WEBSITE</p><br /></div>
		
        <div class="Partners">    
            <div class="Col-1"><a href="https://www.britsafe.org"><img src="{% static '/school_front/Assets/Images/Brit-Saf%20Logo.png' %}" class="Col-1"></a></div>
            
            <div class="Col-2"><a href="https://www.saiosh.co.za"><img src="{% static '/school_front/Assets/Images/Saiosh.png' %}"  class="Col-2"></a></div> 
		</div>
		
        <div class="Partner">      
            <div class="Col-3"><a href="https://www.inkamic.co.zw"><img src="{% static '/school_front/Assets/Images/INKAMIC%20ORIGINAL.png' %}"  class="Col-3"></a></div>
                 
            <div class="Col-4"><a href="https://www.isqem.com"><img src="{% static '/school_front/Assets/Images/Affiliation%20Logo.png' %}"  class="Col-4"></a></div>        
		</div>
    </body1>
    <br /><br />

 {% endblock content %}
    