{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}



   <!-- HERO
    ================================================== -->
    <section class="page-banner-area page-about">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">Our Membership</h1>
                        <p>COH&S is the place where the health and safety community of practitioners,
                             professionals and leaders work together to advance Health and Safety standards and practice;
                             it is a professional association supporting its members through five pillars of membership value and benefits:</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="section" id="section-testimonial">
        <div class="container">
           <div class="row align-items-center">
            <div class="single-blog">
                <h1>1. Trust, Knowledge and Information</h1>
                <p>The profession is inundated with information of varying validity - COH&S provides up-to-date evidence-based information and knowledge through:</p>
            
                     
                         <div class="blog-content">
                         
                                 <li>The COH&S Body of Knowledge</li>
                                 <li>The Quarterly COHS Professional Magazine (electronic & hard copy)</li>
                                 <li>Journal of Health & Safety Research Practice (blannual publication)</li>
                                 <li>News Letter monthly (industrial news, emerging issues, membership news)</li>
                                  
                         </div>
                         
                     
                                  
                   </div>
                   <div class="single-blog">
                    <h1>2. Professional Development and Lifelong Learning</h1>
                    <p>Members grow and learn throughout their career, turning their experiences into knowledge through reflection 
                        and professional development - COH&S provides high quality 
                        professional development and training for the health and safety community of practitioners, professionals, and leaders through:</p>
                
                         
                             <div class="blog-content">
                             
                                     <li>Webinars, podcasts, conferences, symposiums, panel discussions short courses & micro-credentials</li>
                                     <li>Member-only free or discounted conferences, symposiums, and products</li>
                                     <li>Mentoring and Support</li>
                                     <li>COH&S CPD planning tool, to help plan your learning</li>
                                     <li>Our investment in the COH&S education Accreditation
                                          Board - which drives continuous quality improvement through higher education courses in health and safety</li>

                                          <li>The Centre for Occupational Health and Safety Profession Certification program 
                                              - promoting the professional to business and providing ongoing professional development for those who are certified</li>
                                      
                             </div>
                             
                         
                                      
                       </div>
                       <div class="single-blog">
                        <h1>3.Connections</h1>
                        <p>Connecting with and mutually supporting others is an important part of career development and personal 
                            growth COH&S provides invaluable networking opportunities and peer support through::</p>
                    
                             
                                 <div class="blog-content">
                                 
                                         <li>Professional alignment with the International bodies for Health and Safetye</li>
                                         <li>Networking groups and events generating peer support and knowledge sharing</li>
                                         <li>Career development for professional and practitioners</li>
                                         <li>Mentorship program</li>
                                          
                                 </div>
                                 
                             
                                          
                           </div>
                           <div class="single-blog">
                            <h1>4. Contribution</h1>
                            <p>COH&S draws on its community of leaders - experienced health and safety people -
                                 to give back and share their wisdom and knowledge with the profession including::</p>
                        
                                 
                                     <div class="blog-content">
                                     
                                             <li>Peer Mentor - Sharing knowledge, experience, opportunities, shaping the future profession</li>
                                             <li>Subject Matter Expert - Including Standard Development, Webinars, Conferences, Envisioning The Future</li>
                                             <li>Community Leaders - Contributing to safe and regional committees and specific working bodies</li>
                                             <li>Fellows Of The Institute - Contributing to and shaping the profession</li>
                                              
                                     </div>
                                     
                                 
                                              
                               </div>

                               <div class="single-blog">
                                <h1>5. Advocacy & Policy</h1>
                                <p>COH&S is committed to being the voice for the OHS professional to 
                                    advocate in discussions on legislation, regulation and improved health and safety in the workplace, including:</p>
                            
                                     
                                         <div class="blog-content">
                                         
                                                 <li>Advocacy for change on current and emerging issues</li>
                                                 <li>International representation - leading agency in the international body for the health and safety profession, 
                                                     INSHPO - (International Safety and Health Professional Organization.)</li>
                                          
                                                  
                                         </div>
                                         
                                     
                                                  
                                   </div>
                <div class="col-lg-12 col-sm-12 col-md-12">
                   
                    
                 
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="pricing">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Our Membership Program
                        </h2>

                        <!-- Subheading -->
                        <p>
                
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                       <h3>STUDENT MEMBER</h3>
                        
                       <div class="price-block">
                        <h3><small></small>Requirements<span></span></h3>
                      </div>
                        <ul class="price-features list-unstyled">
                            <li>Not working full time</li>
                            <li>Must provide evidence of study in form of enrollment on joining; or</li>
                            <li>Must provide evidence of study in form of academic transcript on renewal </li>
                            <li>Current Student</li>
                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Join Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box ">
                        <h3>CORPORATE MEMBER</h3>
                        <div class="price-block">
                            <h3><small></small>Suitable For<span></span></h3>
                       </div>

                        <ul class="price-features list-unstyled">
                            
                            <li>For organisations that have a keen interest in OHS</li>
                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Join Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                        <h3>TECHNICAL MEMBER</h3>
                        <div class="price-block">
                             <h3><small></small>Requirements<span></span></h3>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Completed your studies in OHS or related field</li>
                            <li>Has been employed for more than 6 months</li>
                            <li>Opportunity for free Trainee/Graduate Certification </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-circled">Join Now</a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    
 {% endblock content %}