<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Enrollment.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Buttons/Contact Button.css" type="text/css">
    </head>
    
    <body1><a href="Membership.html"><button class="Download">Back</button></a></body1>
    
    <body>
        

        
        <div class="container">
            <h1 class="Brand">MEMBERSHIP FORM</h1>
            <div class="wrapper">
                
                <div class="contact">
                    <h3>Email Us</h3>
                    <form action="https://formspree.io/f/mayajlyn" method="post">
                        <p>
                            <label>Name</label>
                            <input type="text" name="name">
                        </p>
                        
                        <p>
                            <label>Surname</label>
                            <input type="text" name="surname">
                        </p>
                        
                        <p>
                            <label>Email Address</label>
                            <input type="text" name="email">
                        </p>
                        
                        <p>
                            <label>Phone Number</label>
                            <input type="text" name="phone">
                        </p>
                        
                        <p>
                            <label>Address</label>
                            <input type="text" name="address">
                        </p>
                        
                        <p>
                            <label>Gender</label>
                            <select name="gender">
                                <option selected disabled>--Select--</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </p>
                        
                        <p>
                            <label>Membership Type</label>
                            <select name="membership">
                                <option selected disabled>--Select--</option>
                                <option>Student Membership</option>
                                <option>Corporate Membership</option>
                                <option>Technical Membership</option>
                                <option>Affiliate Membership</option>
                            </select>
                        </p>

                        
                       <p class="full">
                           <button>Submit</button>
                       </p>  
                    </form>
                </div>
            </div>
        </div>
        
        
        <script type="text/javascript">
            if(window.history.replaceState){
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
        
        <div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both; margin-bottom: 0; position: sticky;">This Website Was Designed By Creative Labs <i>(A Division of Emsikar Inc.) © 2021 Creative Labs </i></p></div>
    </body>