<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Nav-Bar.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Membership.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Buttons/Membership.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Buttons/Join Button.css" type="text/css">
		
        <nav class="navbarsoc">
        <ul>
                <li><address><a href="mailto:info@cohs.co.zw" class="gmail" target="_blank"><p class="gmail"><img src="Assets/Socio/Gmail.png" width="36mm"></p></a></address></li>
                <li><address><a href="https://www.instagram.com/cohs_zim" class="instagram" target="_blank"><p class="instagram"><img src="Assets/Socio/Instagram.png" width="29mm"></p></a></address></li>
                <li><address><a href="https://wa.me/263786059115?" class="whatsapp" target="_blank"><p class="whatsapp"><img src="Assets/Socio/Whatsapp.png" width="29mm"></p></a></address></li>
				<li><address><a href="https://www.facebook.com/letlo" class="facebook" target="_blank"><p class="facebook"><img src="Assets/Socio/Facebook.png" width="35mm"></p></a></address></li>
				<li><address><a href="https://letloadm.wixsite.com/cohsdatabase" class="Login" target="_blank"><p class="Login" style="text-align: right; padding-right: 10px;"><small>Student Login</small></p></a></address></li>
           </ul>
        </nav>
		
		
        <nav class="navbar" style="z-index: 2;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg class="btn" width="30" height="30" style="margin-top: 25px; border: 1px solid white; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 3px;">
                    <path d="M0,5 30,5" stroke="White" stroke-width="2"/>
                    <path d="M0,14 30,14" stroke="White" stroke-width="2"/>
                    <path d="M0,23 30,23" stroke="White" stroke-width="2"/>
                </svg>
            </a>
        </span>
        
            
<br />
            <ul>
                <div class="logoo"><li><p><img src="Assets/Images/Nav Bar Logo.png" style="width: 47mm;"></p></li></div>
            </ul>
			
		
            
     <ul class="navbar-nav">
			<li><a href="Contact.html">Contact Us</a></li>
			<li><a href="Centres.html">Centres</a></li>
            <li><a href="Membership.html">Membership</a></li>
            
         <div class="dropdown">
             <button class="dropbtn">Training
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="Professional Courses.html">Professional Courses</a>
                 <a href="CPD Training.html">CPD Training</a>
             </div>
         </div>
         
            <li><a href="Events.html">Events</a></li>
            <li><a href="Resources.html">Resources</a></li>
         <li><a href="Newsletters.html">Newsletters</a></li>
         
         <div class="dropdown">
             <button class="dropbtn">About
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="About.html">About Us</a>
                 <a href="Accreditations.html">Accreditations</a>
                 <a href="Services.html">Services</a>
             </div>
         </div>
         
            <li><a href="index.html">Home</a></li>       
        </ul>
    </nav>
    
    <div id="side-menu" class="side-nav" style="z-index: 3;">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" style="margin-top: 30px; margin-left: 77.5px;">&times;</a>
        <a href="index.html" style="font-weight: bolder;">Home</a>
        
        <a href="#" style="font-weight: bolder;">About &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="About.html" style="margin-left: 15%; font-weight: normal;">About Us</a>
        <a href="Accreditations.html" style="margin-left: 15%; font-weight: normal;">Accreditations</a>
        <a href="Services.html" style="margin-left: 15%; font-weight: normal;">Services</a>
        
        <a href="Newsletters.html" style="font-weight: bolder;">Newsletters</a>
        <a href="Resources.html" style="font-weight: bolder;">Resources</a>
        <a href="Events.html" style="font-weight: bolder;">Events</a>
        
        <a href="#" style="font-weight: bolder;">Training &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="Professional Courses.html" style="margin-left: 15%; font-weight: normal;">Professional Courses</a>
		<a href="CPD Training.html" style="margin-left: 15%; font-weight: normal;">CPD Training</a>
        
		<a href="Centres.html" style="font-weight: bolder;">Centres</a>
		<a href="Membership.html" style="font-weight: bolder;">Membership</a>
        <a href="Contact.html" style="font-weight: bolder;">Contact Us</a>
		</div>
	
	
	
	<!-- Start Of The Nav-Bar Script -->
    	<script>
		function openSlideMenu(){
            document.getElementById('side-menu').style.width= '250px';
            document.getElementById('main').style.marginLeft= '250px';
        }   
        function closeSlideMenu(){
            document.getElementById('side-menu').style.width= '0';
            document.getElementById('main').style.marginLeft= '0';
        }
		</script>
    </head>
    
    
    <body>
        <div style="margin-top: 150px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px;">
			<p style="font-size: 24px; font-weight: bold; margin-left: 5px;">MEMBERSHIP</p>
			<p style="margin-left: 5px; margin-right: 5px;">COH&S is the place where the health and safety community of practitioners, professionals and leaders work together to advance Health and Safety standards and practice; it is a professional association supporting its members through five pillars of membership value and benefits:</p>
			
			<button class="Download" type="button"><a href="Contact.html" style="text-decoration: none; justify-content: center;">CONTACT US>></a></button>
		</div>
		
		<div style="margin-top: 175px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px; margin-top: 2mm;">
			<p style="margin-left: 5px; margin-right: 5px; font-size: 22px; font-weight: bold;">1. Trust, Knowledge and Information</p>
			<p style="margin-left: 10px; margin-right: 10px;">The profession is inundated with information of varying validity - COH&S provides up-to-date evidence-based information and knowledge through:</p>
			
			<ul>
				<li>The COH&S Body of Knowledge</li>
				<li>The Quarterly COHS Professional Magazine (electronic & hard copy)</li>
				<li>Journal of Health & Safety Research Practice (blannual publication)</li>
				<li>News Letter monthly (industrial news, emerging issues, membership news)</li>
			</ul>
		</div>
		
		<div style="margin-top: 175px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px; margin-top: 2mm;">
			<p style="margin-left: 5px; margin-right: 5px; font-size: 22px; font-weight: bold;">2. Professional Development and Lifelong Learning</p>
			<p style="margin-left: 10px; margin-right: 10px;">Members grow and learn throughout their career, turning their experiences into knowledge through reflection and professional development - COH&S provides high quality professional development and training for the health and safety community of practitioners, professionals, and leaders through:</p>
					
			<ul>
				<li>Webinars, podcasts, conferences, symposiums, panel discussions short courses & micro-credentials</li>
				<li>Member-only free or discounted conferences, symposiums, and products</li>
				<li>Mentoring and Support</li>
				<li>COH&S CPD planning tool, to help plan your learning</li>
				<li>Our investment in the COH&S education Accreditation Board - which drives continuous quality improvement through higher education courses in health and safety</li>
				<li>The Centre for Occupational Health and Safety Profession Certification program - promoting the professional to business and providing ongoing professional development for those who are certified</li>
			</ul>
		</div>
		
		<div style="margin-top: 175px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px; margin-top: 2mm;">
			<p style="margin-left: 5px; margin-right: 5px; font-size: 22px; font-weight: bold;">3. Connections</p>
			<p style="margin-left: 10px; margin-right: 10px;">Connecting with and mutually supporting others is an important part of career development and personal growth COH&S provides invaluable networking opportunities and peer support through:</p>
			
			<ul>
				<li>Professional alignment with the International bodies for Health and Safety</li>
				<li>Networking groups and events generating peer support and knowledge sharing</li>
				<li>Career development for professional and practitioners</li>
				<li>Mentorship program</li>
			</ul>
		</div>
		
		<div style="margin-top: 175px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px; margin-top: 2mm;">
			<p style="margin-left: 5px; margin-right: 5px; font-size: 22px; font-weight: bold;">4. Contribution</p>
			<p style="margin-left: 10px; margin-right: 10px;">COH&S draws on its community of leaders - experienced health and safety people - to give back and share their wisdom and knowledge with the profession including:</p>
			
			<ul>
				<li>Peer Mentor - Sharing knowledge, experience, opportunities, shaping the future profession</li>
				<li>Subject Matter Expert - Including Standard Development, Webinars, Conferences, Envisioning  The Future</li>
				<li>Community Leaders - Contributing to safe and regional committees and specific working bodies</li>
				<li>Fellows Of The Institute - Contributing to and shaping the profession
			</ul>
		</div>
		
		<div style="margin-top: 175px; background-color: white; height: auto; padding-top: 1mm; padding-bottom: 5mm; font-size: 18px; margin-top: 2mm;">
			<p style="margin-left: 5px; margin-right: 5px; font-size: 22px; font-weight: bold;">5. Advocacy & Policy</p>
			<p style="margin-left: 10px; margin-right: 10px;">COH&S is committed to being the voice for the OHS professional to advocate in discussions on legislation, regulation and improved health and safety in the workplace, including:</p>
			
			<ul>
				<li>Advocacy for change on current and emerging issues</li>
				<li>International representation - leading agency in the international body for the health and safety profession, INSHPO - (International Safety and Health Professional Organization.)
			</ul>
		</div>
		
		<div class="Join">
			<div class="Card">
				<p style="font-size: 20px; font-weight: bold; text-align: center;">CORPORATE MEMBER</p>
				<a href="Membership Form.html"><button class="JoinButton" type="button" style="color: white;">JOIN</button></a></p>
				<p><b>Suitable For:</b></p>
				
			<ul>
				<li>For organisations that have a keen interest in OHS</li>
			</ul>
			</div>
		
			<div class="Card">
				<p style="font-size: 20px; font-weight: bold; text-align: center;">STUDENT MEMBER</p>
				<a href="Student Membership.html"><button class="JoinButton" type="button" style="color: white;">JOIN</button></p></a>
				<p><b>Requirements:</b></p>
				
			<ul>
				<li>Current Student</li>
				<li>Not working full time</li>
				<li>Must provide evidence of study in form of enrollment on joining; or</li>
				<li>Must provide evidence of study in form of academic transcript on renewal</li>
			</ul>
			</div>
	
			<div class="Card">
				<p style="font-size: 20px; font-weight: bold; text-align: center;">TECHNICAL MEMBER</p>
				<a href="Technical Membership.html"><button class="JoinButton" type="button" style="color: white;">JOIN</button></p></a>
				<p><b>Requirements:</b></p>
				
			<ul>
				<li>Completed your studies in OHS or related field</li>
				<li>Has been employed for more than 6 months</li>
				<li>Opportunity for free Trainee/Graduate Certification</li>
			</ul>
			</div>

			<div class="Card">
				<p style="font-size: 20px; font-weight: bold; text-align: center;">AFFILIATE MEMBER</p>
				<a href="Affiliate Membership.html"><button class="JoinButton" type="button" style="color: white;">JOIN</button></p></a>
				<p><b>Suitable For:</b></p>
				
			<ul>
				<li>Managers who have OHS responsibilities</li>
				<li>OHS practitioners and professionals</li>
				<li>Trainees and Graduates in entry level OHS roles</li>
				<li>Anyone with an interest, working or volunteering in OHS</li>
			</ul>
			</div>
		</div>
		</div>
		
		
    </body>
    
	<div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both;">© 2021 Creative Labs</p></div>
	
</html>