<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Nav-Bar.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Professional Courses.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Buttons/Professional Courses Button.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Accordion/Accordion.css" type="text/css">
		
        
        <nav class="navbarsoc">
        <ul>
                <li><address><a href="mailto:info@cohs.co.zw" class="gmail" target="_blank"><p class="gmail"><img src="Assets/Socio/Gmail.png" width="36mm"></p></a></address></li>
                <li><address><a href="https://www.instagram.com/cohs_zim" class="instagram" target="_blank"><p class="instagram"><img src="Assets/Socio/Instagram.png" width="29mm"></p></a></address></li>
                <li><address><a href="https://wa.me/263786059115?" class="whatsapp" target="_blank"><p class="whatsapp"><img src="Assets/Socio/Whatsapp.png" width="29mm"></p></a></address></li>
				<li><address><a href="https://www.facebook.com/letlo" class="facebook" target="_blank"><p class="facebook"><img src="Assets/Socio/Facebook.png" width="35mm"></p></a></address></li>
				<li><address><a href="https://letloadm.wixsite.com/cohsdatabase" class="Login" target="_blank"><p class="Login" style="text-align: right; padding-right: 10px;"><small>Student Login</small></p></a></address></li>
           </ul>
        </nav>
		
		
        <nav class="navbar" style="z-index: 2;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg class="btn" width="30" height="30" style="margin-top: 25px; border: 1px solid white; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 3px;">
                    <path d="M0,5 30,5" stroke="White" stroke-width="2"/>
                    <path d="M0,14 30,14" stroke="White" stroke-width="2"/>
                    <path d="M0,23 30,23" stroke="White" stroke-width="2"/>
                </svg>
            </a>
        </span>
        
            
<br />
            <ul>
                <div class="logoo"><li><p><img src="Assets/Images/Nav Bar Logo.png" style="width: 47mm;"></p></li></div>
            </ul>
			
		
            
     <ul class="navbar-nav">
			<li><a href="Contact.html">Contact Us</a></li>
			<li><a href="Centres.html">Centres</a></li>
            <li><a href="Membership.html">Membership</a></li>
            
         <div class="dropdown">
             <button class="dropbtn">Training
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="Professional Courses.html">Professional Courses</a>
                 <a href="CPD Training.html">CPD Training</a>
             </div>
         </div>
         
            <li><a href="Events.html">Events</a></li>
            <li><a href="Resources.html">Resources</a></li>
         <li><a href="Newsletters.html">Newsletters</a></li>
         
         <div class="dropdown">
             <button class="dropbtn">About
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="About.html">About Us</a>
                 <a href="Accreditations.html">Accreditations</a>
                 <a href="Services.html">Services</a>
             </div>
         </div>
         
            <li><a href="index.html">Home</a></li>       
        </ul>
    </nav>
    
    <div id="side-menu" class="side-nav" style="z-index: 3;">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" style="margin-top: 30px; margin-left: 77.5px;">&times;</a>
        <a href="index.html" style="font-weight: bolder;">Home</a>
        
        <a href="#" style="font-weight: bolder;">About &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="About.html" style="margin-left: 15%; font-weight: normal;">About Us</a>
        <a href="Accreditations.html" style="margin-left: 15%; font-weight: normal;">Accreditations</a>
        <a href="Services.html" style="margin-left: 15%; font-weight: normal;">Services</a>
        
        <a href="Newsletters.html" style="font-weight: bolder;">Newsletters</a>
        <a href="Resources.html" style="font-weight: bolder;">Resources</a>
        <a href="Events.html" style="font-weight: bolder;">Events</a>
        
        <a href="#" style="font-weight: bolder;">Training &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="Professional Courses.html" style="margin-left: 15%; font-weight: normal;">Professional Courses</a>
		<a href="CPD Training.html" style="margin-left: 15%; font-weight: normal;">CPD Training</a>
        
		<a href="Centres.html" style="font-weight: bolder;">Centres</a>
		<a href="Membership.html" style="font-weight: bolder;">Membership</a>
        <a href="Contact.html" style="font-weight: bolder;">Contact Us</a>
		</div>
	
	
	
	<!-- Start Of The Nav-Bar Script -->
    	<script>
		function openSlideMenu(){
            document.getElementById('side-menu').style.width= '250px';
            document.getElementById('main').style.marginLeft= '250px';
        }   
        function closeSlideMenu(){
            document.getElementById('side-menu').style.width= '0';
            document.getElementById('main').style.marginLeft= '0';
        }
		</script>
    </head>
    
    
    <body>
		<br /><br /><br />
        <div class="Courses1" style="margin-top: 115px;">
			<h2 style="color: white;">COURSES:</h2>
            <ul>
				<button class="accordion"><p><b><u>FOUNDATION CERTIFICATE IN OCCUPATIONAL HEALTH & SAFTEY MANAGEMENT</u></b></p></button>
				<div class="panel">
				<p>1. Essentials of Safety and Health</p>
				<p>2. OSH legislation</p>
				<p>3. Factory visits and individual presentations</p>
				<p>4. Environmental management</p>
				<p>5. Social security schemes in Zimbabwe</p>
				
				<p><b>NB</b> With 3 O’ levels only you can register for a foundation Certificate</p>
			</ul>
			</div>
					
			<ul>
				<button class="accordion"><p><b><u>DIPLOMA IN OCCUPATIONAL HEALTH & SAFTEY</u></b></p></button><div class="panel">
				<b><p>CERTIFCATE:</p></b>
				<p>1. Communication</p>
				<p>2. OSH Legislation</p>
				<p>3. Health and Safety development</p>
				<p>4. Personal protective equipment</p>
				<p>5. Occupational Health and Safety 1</p>
				
				<b><p>DIPLOMA:</p></b>
				<p>1. Occupational Health and Safety 2</p>
				<p>2. Work safety</p>
				<p>3. Disability management</p>
				<p>4. Ergonomics</p>
				<p>5. Risk Management</p>
				<p>6. Research</p>
				
				<button class="Download" type="button"><a href="Requirements/DIPLOMA%20IN%20OHSM%20outline.pdf" style="text-decoration: none;">Requirements</a></button>
			</ul>
					
			<ul>
				<button class="accordion"><p><b><u>DIPLOMA IN SAFETY HEALTH AND ENVIRONMENTAL MANAEGEMENT</u></b></p></button><div class="panel">
				<b><p>CERTIFCATE:</p></b>
				<p>1. Communication</p>
				<p>2. OSH Legislation</p>
				<p>3. Health and Safety development</p>
				<p>4. Personal protective equipment</p>
				<p>5. Environmental Management 1</p>
				
				<b><p>DIPLOMA:</p></b>
				<p>1. Psychological health and safety</p>
				<p>2. Risk Management</p>
				<p>3. Auditing SHE operations</p>
				<p>4. Ergonomics</p>
				<p>5. Occupational Disasters and Management</p>
				<p>6. Research</p>
				
				<button class="Download" type="button"><a href="Requirements/DIPLOMA%20IN%20SHEM%20outline.pdf" style="text-decoration: none;">Requirements</a></button>
			</ul>
					
			<ul>
				<button class="accordion"><p><b><u>PROJECT MANAGEMENT</u></b></p></button><div class="panel">
				<b><p>CERTIFCATE:</p></b>
				<p>1. Communication</p>
				<p>2. Nature of project management</p>
				<p>3. Project Design</p>
				<p>4. Planning and scheduling</p>
				<p>5. Managing work and cost</p>
				
				<b><p>DIPLOMA:</p></b>
				<p>1. Prince</p>
				<p>2. Computers and project management</p>
				<p>3. Purchasing and Supply of materials</p>
				<p>4. Monitoring and Evaluation</p>
				<p>5. Financial and Commercial framework</p>
				<p>6. Research</p>
				
				<button class="Download" type="button"><a href="Requirements/DIPLOMA%20IN%20PROJECT%20MANAGEMENT%20outline.pdf" style="text-decoration: none;">Requirements</a></button>
			</ul>
			
			<ul>
				<button class="accordion"><p><b><u>PRROJECT DESIGN, MONITORING AND EVALUATION</u></b></p></button><div class="panel">
				<b><p>CERTIFCATE:</p></b>
				<p>1. Communication</p>
				<p>2. Monitoring and Evaluation 1</p>
				<p>3. Project Design</p>
				<p>4. Planning and scheduling</p>
				<p>5. Managing work and cost</p>
				
				<b><p>DIPLOMA:</p></b>
				<p>1. Data capture</p>
				<p>2. Data analysis</p>
				<p>3. Monitoring and Evaluation 2</p>
				<p>4. Reflective practices</p>
				<p>5. Computers and project management</p>
				<p>6. Research</p>
				
				<button class="Download" type="button"><a href="Requirements/DIPLOMA%20IN%20monitoring%20and%20evaluation%20outline.pdf" style="text-decoration: none;">Requirements</a></button>
			</ul>
			
			<ul>
				<button class="accordion"><p><b><u>SECURITY AND RISK MANAGEMENT</u></b></p></button><div class="panel">
				<b><p>CERTIFCATE:</p></b>
				<p>1. Communication</p>
				<p>2. Occupational Health and Safety</p>
				<p>3. Common Law</p>
				<p>4. Security Operations and Risk Management</p>
				<p>5. Risk and Loss Control Management</p>
				
				<b><p>DIPLOMA:</p></b>
				<p>1. Criminology and crime prevention
				<p>2. Corporate Fraud Management and Control</p>
				<p>3. Policing</p>
				<p>4. Computer Security</p>
				<p>5. Public relations</p>
				<p>6. Research</p>
				
				<button class="Download" type="button"><a href="Requirements/DIPLOMA%20IN%20SRM%20outline.pdf" style="text-decoration: none;">Requirements</a></button>
			</ul>
				
			<ul>
				<button class="Download" type="button"><a href="Enrollment.html" style="text-decoration: none; justify-content: center;">ENROLL NOW!!!>></a></button>
			</ul>
			</div>
				
        
		
		<script>

			var acc = document
			.getElementsByClassName("accordion");

			var i;

			for (i = 0; i < acc.length; i++) {
 			acc[i].onclick = function(){
  			this.classList.toggle("active");
  			this.nextElementSibling.classList
  			.toggle("show");
			}
				}	

</script>
				
		
		
    </body>
    
	<div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both;">© 2021 Creative Labs</p></div>
	
</html>