{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}
    

<!-- HERO
================================================== -->
<section class="page-banner-area page-contact">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">Register As a student</h1>
                    >
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

        {% if messages %}
              {% for message in messages  %}
              {% if message.tags == "success" %}
            <div class="alert alert-success container">
              {{message}}
            </div>
            {% endif %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger">
              {{ message}}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
  <!-- SECTIONS
    ================================================== -->
    
    <section class="section" id="contact">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-8 col-lg-6">
                
                    <!-- Heading -->
                    <h2 class="section-title mb-2 ">
                        REGISTER AS A STUDENT <span class="font-weight-normal"></span>
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 ">
                       
                    </p>

                </div>
            </div> <!-- / .row -->
              {% if messages %}
              {% for message in messages  %}
              {% if message.tags == "success" %}
            <div class="alert alert-success">
              {{message}}
            </div>
            {% endif %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger">
              {{ message}}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                   <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>
                    <!-- end message -->
                    <!-- Contacts Form -->
                    <form class="contact_form" action="#" method="POST">
                        {% csrf_token %} 
                        <div class="row">
                            <!-- Input -->
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Your name
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input class="form-control" name="first_name" id="first_name" title="first_name" required="" placeholder="John" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Last Name
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" name="last_name" id="last_name" title="last_name" required="" placeholder=" Doe" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <div class="w-100"></div>

                            <!-- Input -->
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        ID NUMBER
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="iD_Number" name="iD_Number" title="iD_Number" required="" placeholder="08-2156378T19" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        COURSE
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="course" name="course" title="course" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Date Of Birth
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="date_of_bith" name="date_of_bith" title="date_of_bith" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Physical Address
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="physical_address" name="physical_address" title="physical_address" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        POSTAL ADDRESS
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="postal_address" name="postal_address" title="postal_address" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        EMAIL
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="email" name="email" title="email" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        PHONE NUMBER
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="phone_number" name="phone_number" title="phone_number" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        NEXT OF FIRSTNAME
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="nk_first_name" name="nk_first_name" title="nk_first_name " required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        NEXT OF KIN LASTNAME
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="nk_last_name" name="nk_last_name" title="nk_last_name" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-12">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        NEXT OF KIN PHONE
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="nk_phone_number" name="nk_phone_number" title="nk_phone_number" required="" placeholder="0774098842" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <!-- Input -->
                        
                        <!-- End Input -->

                        <div class="">
                           <input name="submit" type="submit" class="btn btn-primary btn-circled" value="Send Message">
                           
                            <p class="small pt-3">We'll get back to you in 1-2 business days.</p>
                        </div>
                    </form>
                    <!-- End Contacts Form -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- START MAP -->
                    <div id="map" ></div>
                    <!-- END MAP -->
                </div>
            </div>
        </div>
    </section>
 {%  endblock content %}