<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Nav-Bar.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/Professional Courses.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Buttons/Professional Courses Button.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Accordion/Accordion.css" type="text/css">
		
        
        <nav class="navbarsoc">
        <ul>
                <li><address><a href="mailto:info@cohs.co.zw" class="gmail" target="_blank"><p class="gmail"><img src="Assets/Socio/Gmail.png" width="36mm"></p></a></address></li>
                <li><address><a href="https://www.instagram.com/cohs_zim" class="instagram" target="_blank"><p class="instagram"><img src="Assets/Socio/Instagram.png" width="29mm"></p></a></address></li>
                <li><address><a href="https://wa.me/263786059115?" class="whatsapp" target="_blank"><p class="whatsapp"><img src="Assets/Socio/Whatsapp.png" width="29mm"></p></a></address></li>
				<li><address><a href="https://www.facebook.com/letlo" class="facebook" target="_blank"><p class="facebook"><img src="Assets/Socio/Facebook.png" width="35mm"></p></a></address></li>
				<li><address><a href="https://letloadm.wixsite.com/cohsdatabase" class="Login" target="_blank"><p class="Login" style="text-align: right; padding-right: 10px;"><small>Student Login</small></p></a></address></li>
           </ul>
        </nav>
		
		
        <nav class="navbar" style="z-index: 2;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg class="btn" width="30" height="30" style="margin-top: 25px; border: 1px solid white; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 3px;">
                    <path d="M0,5 30,5" stroke="White" stroke-width="2"/>
                    <path d="M0,14 30,14" stroke="White" stroke-width="2"/>
                    <path d="M0,23 30,23" stroke="White" stroke-width="2"/>
                </svg>
            </a>
        </span>
        
            
<br />
            <ul>
                <div class="logoo"><li><p><img src="Assets/Images/Nav Bar Logo.png" style="width: 47mm;"></p></li></div>
            </ul>
			
		
            
     <ul class="navbar-nav">
			<li><a href="Contact.html">Contact Us</a></li>
			<li><a href="Centres.html">Centres</a></li>
            <li><a href="Membership.html">Membership</a></li>
            
         <div class="dropdown">
             <button class="dropbtn">Training
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="Professional Courses.html">Professional Courses</a>
                 <a href="CPD Training.html">CPD Training</a>
             </div>
         </div>
         
            <li><a href="Events.html">Events</a></li>
            <li><a href="Resources.html">Resources</a></li>
         <li><a href="Newsletters.html">Newsletters</a></li>
         
         <div class="dropdown">
             <button class="dropbtn">About
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="About.html">About Us</a>
                 <a href="Accreditations.html">Accreditations</a>
                 <a href="Services.html">Services</a>
             </div>
         </div>
         
            <li><a href="index.html">Home</a></li>       
        </ul>
    </nav>
    
    <div id="side-menu" class="side-nav" style="z-index: 3;">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" style="margin-top: 30px; margin-left: 77.5px;">&times;</a>
        <a href="index.html" style="font-weight: bolder;">Home</a>
        
        <a href="#" style="font-weight: bolder;">About &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="About.html" style="margin-left: 15%; font-weight: normal;">About Us</a>
        <a href="Accreditations.html" style="margin-left: 15%; font-weight: normal;">Accreditations</a>
        <a href="Services.html" style="margin-left: 15%; font-weight: normal;">Services</a>
        
        <a href="Newsletters.html" style="font-weight: bolder;">Newsletters</a>
        <a href="Resources.html" style="font-weight: bolder;">Resources</a>
        <a href="Events.html" style="font-weight: bolder;">Events</a>
        
        <a href="#" style="font-weight: bolder;">Training &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="Professional Courses.html" style="margin-left: 15%; font-weight: normal;">Professional Courses</a>
		<a href="CPD Training.html" style="margin-left: 15%; font-weight: normal;">CPD Training</a>
        
		<a href="Centres.html" style="font-weight: bolder;">Centres</a>
		<a href="Membership.html" style="font-weight: bolder;">Membership</a>
        <a href="Contact.html" style="font-weight: bolder;">Contact Us</a>
		</div>
	
	
	
	<!-- Start Of The Nav-Bar Script -->
    	<script>
		function openSlideMenu(){
            document.getElementById('side-menu').style.width= '250px';
            document.getElementById('main').style.marginLeft= '250px';
        }   
        function closeSlideMenu(){
            document.getElementById('side-menu').style.width= '0';
            document.getElementById('main').style.marginLeft= '0';
        }
		</script>
    </head>
    
    
    <body>
		<br /><br /><br />
        <div class="Courses1" style="margin-top: 115px;">
			<h2 style="color: white;">RESOURCES:</h2>
            <ul>
				<button class="accordion"><p><b><u>SYLLABUS</u></b></p></button>
				<div class="panel">
				<a href="Res%20Docs/Syllabus/Communication.pdf"><p>Communication</p></a>
				<a href="Res%20Docs/Syllabus/COVID-19.pdf"><p>COVID-19 Surveillance 7 Work Place Management</p></a>
				<a href="Res%20Docs/Syllabus/Harzardous%20Chemical%20Management.pdf"><p>Harzardous Chemical Management</p></a>
                <a href="Res%20Docs/Syllabus/First%20AID%20&%20Manual%20Handling.pdf"><p>First AID & Manual Handling</p></a>
                <a href="Res%20Docs/Syllabus/Personal%20Protective%20Equipment.pdf"><p>Personal Protective Equipment</p></a>
				<a href="Res%20Docs/Syllabus/Project%20Design.pdf"><p>Project Management</p></a>
				<a href="Res%20Docs/Syllabus/OHS%20Legislation.pdf"><p>OHS Legislation</p></a>
				<a href="Res%20Docs/Syllabus/Project%20Design.pdf"><p>Project Design</p></a>
                <a href="Res%20Docs/Syllabus/Work%20Safety.pdf"><p>Work Safety</p></a>
                </div>
			</ul>
					
			<ul>
				<button class="accordion"><p><b><u>PAST PAPERS</u></b></p></button><div class="panel">
				
				<a href="Res%20Docs/Past%20Papers/DPOHS004%20Personal%20August%202021.pdf"><p>DPOHS004 Personal August 2021</p></a>
				<a href="Res%20Docs/Past%20Papers/DPOHS007%20Work%20Safety%20August%202021.pdf"><p>DPOHS007 Work Safety August 2021</p></a>
				<a href="Res%20Docs/Past%20Papers/DPPM001%20Nature%20of%20Project%20Agust%202021.pdf"><p>DPPM001 Nature of Project August 2021</p></a>
                <a href="Res%20Docs/Past%20Papers/DPPM002%20Project%20Design%20%20August%202021.pdf"><p>DPPM002 Project Design  August 2021</p></a>
                <a href="Res%20Docs/Past%20Papers/Health%20and%20Safety%20August%202021.pdf"><p>Health and Safety August 2021</p></a>
				<a href="Res%20Docs/Past%20Papers/Nurse%20Assistant%20August%202021.pdf"><p>Nurse Assistant August 2021</p></a>
				<a href="Res%20Docs/Past%20Papers/Pharmacy%20Assistant%20September%202021.pdf"><p>Pharmacy Assistant September 2021</p></a>
                </div>
            </ul>
					
			<ul>
				<button class="accordion"><p><b><u>COURSE OUTLINES</u></b></p></button><div class="panel">
                
                <a href="Res%20Docs/Course%20Outlines/DIPLOMA%20IN%20monitoring%20and%20evaluation%20outline.pdf"><p>Diploma in Monitoring and Evaluation outline</p></a>
				<a href="Res%20Docs/Course%20Outlines/DIPLOMA%20IN%20OHSM%20outline.pdf"><p>Diploma in OHSM outline</p></a>
				<a href="Res%20Docs/Course%20Outlines/DIPLOMA%20IN%20PROJECT%20MANAGEMENT%20outline.pdf"><p>Diploma in Project Management outline</p></a>
                <a href="Res%20Docs/Course%20Outlines/DIPLOMA%20IN%20SHEM%20outline.pdf"><p>Diploma in SHEM outline</p></a>
                <a href="Res%20Docs/Course%20Outlines/DIPLOMA%20IN%20SRM%20outline.pdf"><p>Diploma in SRM outline</p></a>
			</ul>
					
				
			</div>
				
        
		
		<script>

			var acc = document
			.getElementsByClassName("accordion");

			var i;

			for (i = 0; i < acc.length; i++) {
 			acc[i].onclick = function(){
  			this.classList.toggle("active");
  			this.nextElementSibling.classList
  			.toggle("show");
			}
				}	

</script>
				
		
		
    </body>
    
	
</html>