{% extends 'school_front/base.html' %}
{% block content %}
{% load static  %}

   <!-- HERO
    ================================================== -->


<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            Our Services
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            We pride ourselves in offering the best service to our valued clients
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-light-bulb"></i>
                        <h3>Environment impact assessment</h3>
                       <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-desktop"></i>
                        <h3>Health and Safety Audit</h3>
                         <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Accident investigation</h3>
                         <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Medical Reports</h3>
                         <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>Fire safety Management</h3>
                         <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Health and safety Management Systems</h3>
                         <!--  <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Meet Our Stuff
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Our staff are highly qualified to Guid you on your jurnery

                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                                <h6> Miss Messia </h6>
                                <a href="#">
                                    <h3 class="card-title">Industial Health expect</h3>
                                </a>
                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                <a href="" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                                <h6> Mr Murambi</h6>
                                <a href="#">
                                    <h3 class="card-title"> Health expect</h3>
                                </a>

                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                 <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static '/school_front/images/client/test-1.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <div class="blog-content">
                                <h6>Mr Mpamba</h6>
                                <a href="#">
                                    <h3 class="card-title">Occupational  Health expect</h3>
                                </a>
                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                 <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endblock content %}