<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="Tab.jpg" type="image/x-icon">
        <title>COH&S</title>
        <link rel="stylesheet" href="Assets/css/Nav-Bar.css" type="text/css">
        <link rel="stylesheet" href="Assets/css/CPD Training.css" type="text/css">
		<link rel="stylesheet" href="Assets/css/Buttons/Download%20Button%20CPD.css" type="text/css">
        
        <nav class="navbarsoc">
        <ul>
                <li><address><a href="mailto:info@cohs.co.zw" class="gmail" target="_blank"><p class="gmail"><img src="Assets/Socio/Gmail.png" width="36mm"></p></a></address></li>
                <li><address><a href="https://www.instagram.com/cohs_zim" class="instagram" target="_blank"><p class="instagram"><img src="Assets/Socio/Instagram.png" width="29mm"></p></a></address></li>
                <li><address><a href="https://wa.me/263786059115?" class="whatsapp" target="_blank"><p class="whatsapp"><img src="Assets/Socio/Whatsapp.png" width="29mm"></p></a></address></li>
				<li><address><a href="https://www.facebook.com/letlo" class="facebook" target="_blank"><p class="facebook"><img src="Assets/Socio/Facebook.png" width="35mm"></p></a></address></li>
				<li><address><a href="https://letloadm.wixsite.com/cohsdatabase" class="Login" target="_blank"><p class="Login" style="text-align: right; padding-right: 10px;"><small>Student Login</small></p></a></address></li>
           </ul>
        </nav>
		
		
        <nav class="navbar" style="z-index: 2;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
                <svg class="btn" width="30" height="30" style="margin-top: 25px; border: 1px solid white; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 3px;">
                    <path d="M0,5 30,5" stroke="White" stroke-width="2"/>
                    <path d="M0,14 30,14" stroke="White" stroke-width="2"/>
                    <path d="M0,23 30,23" stroke="White" stroke-width="2"/>
                </svg>
            </a>
        </span>
        
            
<br />
            <ul>
                <div class="logoo"><li><p><img src="Assets/Images/Nav Bar Logo.png" style="width: 47mm;"></p></li></div>
            </ul>
			
		
            
     <ul class="navbar-nav">
			<li><a href="Contact.html">Contact Us</a></li>
			<li><a href="Centres.html">Centres</a></li>
            <li><a href="Membership.html">Membership</a></li>
            
         <div class="dropdown">
             <button class="dropbtn">Training
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="Professional Courses.html">Professional Courses</a>
                 <a href="CPD Training.html">CPD Training</a>
             </div>
         </div>
         
            <li><a href="Events.html">Events</a></li>
            <li><a href="Resources.html">Resources</a></li>
         <li><a href="Newsletters.html">Newsletters</a></li>
         
         <div class="dropdown">
             <button class="dropbtn">About
                 <i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i>
             </button>
             <div class="dropdown-content">
                 <a href="About.html">About Us</a>
                 <a href="Accreditations.html">Accreditations</a>
                 <a href="Services.html">Services</a>
             </div>
         </div>
         
            <li><a href="index.html">Home</a></li>       
        </ul>
    </nav>
    
    <div id="side-menu" class="side-nav" style="z-index: 3;">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" style="margin-top: 30px; margin-left: 77.5px;">&times;</a>
        <a href="index.html" style="font-weight: bolder;">Home</a>
        
        <a href="#" style="font-weight: bolder;">About &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="About.html" style="margin-left: 15%; font-weight: normal;">About Us</a>
        <a href="Accreditations.html" style="margin-left: 15%; font-weight: normal;">Accreditations</a>
        <a href="Services.html" style="margin-left: 15%; font-weight: normal;">Services</a>
        
        <a href="Newsletters.html" style="font-weight: bolder;">Newsletters</a>
        <a href="Resources.html" style="font-weight: bolder;">Resources</a>
        <a href="Events.html" style="font-weight: bolder;">Events</a>
        
        <a href="#" style="font-weight: bolder;">Training &nbsp;<i><img src="Assets/Images/Dropdown.png" style="width: 15px;"></i></a>
        <a href="Professional Courses.html" style="margin-left: 15%; font-weight: normal;">Professional Courses</a>
		<a href="CPD Training.html" style="margin-left: 15%; font-weight: normal;">CPD Training</a>
        
		<a href="Centres.html" style="font-weight: bolder;">Centres</a>
		<a href="Membership.html" style="font-weight: bolder;">Membership</a>
        <a href="Contact.html" style="font-weight: bolder;">Contact Us</a>
		</div>
	
	
	
	<!-- Start Of The Nav-Bar Script -->
    	<script>
		function openSlideMenu(){
            document.getElementById('side-menu').style.width= '250px';
            document.getElementById('main').style.marginLeft= '250px';
        }   
        function closeSlideMenu(){
            document.getElementById('side-menu').style.width= '0';
            document.getElementById('main').style.marginLeft= '0';
        }
		</script>
    </head>
    <br /><br /><br /><br />
    <body>
        <div class="Courses1" style="margin-top: 80px;">
			<h3>STUDENT MEMBERSHIP BENEFITS</h3>
			
			<p>If you're studying health and safety at University or in a VET course, or you're a student who is thinking about a career in health and safety, the centre for Occupational Health and Safety (COH&S) strongly encourages you to become a student member. Student membership is a great way to begin to build your professional networks, and connect with experienced practitioners and professionals.</p>
			
			<h3>Insight, Expertise Knowledge and Support From Peers</h3>
			<p>The Institute contains experienced health and safety professionals who provide support and advice to colleagues through a range of peer support networks and programs including regional networks and branches, special interest groups and mentorship</p>
		
			<h3>Professional Development</h3>
			<p>Membership provides you access to an extensive range of education and professional development - either free or at heavily discounted member rates - that includes conferences, seminars, webinars and COH&S endorsed training courses. For example: Our national conference, or a single two-day course, each carry a discount equivalent to your full institute membership, and many of our webinars are free for members.</p>
			
			<h3>Trusted Information</h3>
			<p>
					<ul>
						<li>COHS Body of Knowledge, maintained for the professsion on your behalf</li>
						<li>The Quarterly OHS Professional Magazine, in electronic AND hard copy</li>
						<li>Our Monthly newsletter which keeps you up to date with industry news, emerging training and professinal development, and special articles on emerging issues</li>
			</ul>
		</p>
		
		<h3>CPD Planning</h3>
		<p>Many of our members use our CPD planning tool, to help them design and act on their annual learning needs.</p>

	
		
	<p><h3><button class="Download" type="button"><a href="Membership%20Form.html" style="text-decoration: none;">REGISTER</a></button></p>
       </div>
    </body>
    <br />
	<div><p class="Copyright" style="color: white; text-align: center; font-size: 16px; clear: both;">© 2021 Creative Labs</p></div>
</html>