body{
	color: white;
    overflow-x: hidden;
    background-image: url('../Images/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.Courses{
    margin-top: 3.5cm;
    font-size: 1.65em;
}
.Courses1{
    font-size: 1.3em;
}
