body{
    overflow-x: hidden;
    background-image: url('../Images/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.Courses{
    margin-top: 3.5cm;
    font-size: 1.65em;
}
.Courses1{
    font-size: 1.3em;
}

.Join{
	margin-top: 1.8mm;
	position: static;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Card{
	background-color: white;
	height: auto;
	font-size: 18px;
	padding-top: 1mm;
	padding-bottom: 0.5mm;
	width: 24.3%;
	margin-left: 1mm;
	float: left;
}

@media(max-width: 690px){
    .Card{
		width: 100%;
		margin-top: 1.9mm;
	}
}