body{
    overflow-x: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


.Logo{
    margin-left: 5px;
}
.Location{
    font-size: 1em;
    margin-left: 5px;
}
.Location2{
    text-align: right;
    color: white;
    font-size: 1em;
    margin-right: 5px;
}
.Copyright{
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    position: static;
}

footer{
    margin-top: -20px;
    left: 0;
    width: 100%;
    position: static;
    background-color: #022842;
    padding-top: 2px;
    padding-bottom: 0.01px;
    color: white;
    clear: both;
}


.Column1{
    width: 33.33%;
    float: left;
    height: 100%;
}
.Column3{
    width: 33.33%;
    float: left;
    text-align: right;
}
.Column3 p{
    margin-right: 5px;
}
.Column4{
    width: 33.33%;
    float: left;
    text-align: center;
}

.Column1 p{
    margin-left: 5px;
}

.Column4 p{
    margin-right: 5px;
}


@media(max-width:630px){
    .Column1{
        width: 100%;
        text-align: left;
        float: none;
    }
    .Column4 p{
        margin-left: 5px
    }
    .Column3{
        width: 100%;
        text-align: left;
        float: none;
    }
    .Column3 p{
        margin-left: 5px;
    }
    .Column4{
        width: 100%;
        text-align: left;
        float: none;
    }
	
}



.Partners{
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -4.2mm;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Partner{
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -4.2mm;
    vertical-align: middle;
}


.Col-1{
    width: 5cm;
    margin: auto;
    float: left;
}

.Col-2{
    width: 10cm;
    margin: auto;
    float: left;
}

.Col-3{
    width: 2cm;
    margin: auto;
    float: left;
}

.Col-4{
    width: 7cm;
    margin: auto;
    float: left;
}


@media(max-width:618px){
    .Partner{
        display: grid;
        vertical-align: middle;
        justify-content: center;
        padding-top: 3mm;
    }
    .Partners{
        display: grid;
        vertical-align: middle;
        justify-content: center;
    }
    .Col-2{
        width: 7cm;
    }
    footer{
        margin-top: -40px;
}