.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    min-width: 270px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}
.timer{
    font-size: 16px;
}
.block{
    width: 95%;
    font-size: 3em;
}

.boss{
    font-size: 1em;
    color: white;
    text-align: center;
    margin-top: 27mm;
    font-family: sans-serif;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    padding-top: 1px;
    width: 100%;
}
.boss2{
    font-size: 3em;
}

@media(max-width:490px){
    .timer{
        font-size: 13px;
    }
    .boss{
        font-size: 0.8em;
    }
}