	.Download{
		padding-top: 2mm;
		padding-bottom: 2mm;
		padding-left: 3.5mm;
		padding-right: 3.5mm;
		color: black;
		font-size: 17px;
		align-self: center;
		background-color: #003366;
		border: 2.7px solid #fff;
}
	.Download a{
		color: white;
	}

	.Download:hover{
        background-color: black;
		color: white;
		border-color: orangered;
       }