	.Download{
		padding-top: 2mm;
		padding-bottom: 2mm;
		padding-left: 3.5mm;
		padding-right: 3.5mm;
		color: white;
		font-size: 18px;
		align-self: center;
		background-color: transparent;
		border: 2.7px solid #fff;
}
	.Download:hover{
        background-color: black;
		color: white;
		border-color: #003366;
       }